/**
 * Settings
 */
@font-face {
    font-display: swap;
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Sansation_Regular.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Sansation';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Sansation_Italic.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Sansation_Bold.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Sansation';
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/Sansation_Bold_Italic.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Sansation_Light.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Sansation';
    font-style: italic;
    font-weight: 200;
    src: url(../fonts/Sansation_Light_Italic.ttf);
}


@font-face {
    font-display: swap;
    font-family: 'space age';
    src: url(../fonts/space-age.ttf);
}

/**
 * Generic
 */
:root {
    --color-base: #000;
    --color-accent-yellow: #ffeb00;
    --color-accent-red: #c80000;
    --color-accent-xx-lightblue: #48a4d6;
    --color-accent-x-lightblue: #2883ba;
    --color-accent-blue: #317499;
    --color-accent-x-darkblue: #3a6f9b;
    --color-accent-xx-darkblue: #286088;

    --global-background: linear-gradient(97deg, var(--color-accent-xx-lightblue), var(--color-accent-blue));
    --global-color: #f8f8f8;

    --global-baseline: 8px;
    --global-baseline-x: calc(var(--global-baseline) * 2);
    --global-baseline-xx: calc(var(--global-baseline) * 3);
    --global-baseline-xxx: calc(var(--global-baseline) * 4);
    --global-baseline-xxxx: calc(var(--global-baseline) * 5);
    --global-baseline-xxxxx: calc(var(--global-baseline) * 6);
}

/**
 * Elements
 */
html {
    background: var(--global-background);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--global-color);

    font-family: 'Sansation', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    line-height: 1.5;
}

a {
    color: var(--color-accent-yellow);
    text-decoration: none;

    transition: 150ms ease;
}
a:hover {
    color: var(--color-accent-red);

    transition: 300ms ease;
}

progress {
    --progress-backgroundColor: #ccc;

    vertical-align: middle;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    min-width: 100%;

    background-color: var(--progress-backgroundColor);

    height: 6px;

    border-radius: 2px;
    border: none;

    overflow: hidden;
}
::-webkit-progress-value {
    background-color: var(--color-accent-blue);
}
::-webkit-progress-bar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125) inset;

    background-color: var(--progress-backgroundColor);
}


/**
 * Components
 */
/**
 * Component: Header
 */
.c-header {
    margin: var(--global-baseline-xx) 0;

    text-align: center;
}

.c-logo {
    background: #f8f8f8;
    /*background: linear-gradient(270deg, var(--color-accent-yellow), var(--color-accent-red)); */

    font-family: "space age", sans-serif;
    font-size: 48px;

    text-shadow: 0 0 64px #0005;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/**
 * Component: Main App Content
 */
.c-app {
    margin: 0 auto;

    width: 98%;
}

/**
 * Components: Card
 */
.c-card {
    --local-backgroundColor: var(--global-color);
    --local-color: var(--color-base);
    --local-padding: var(--global-baseline-x) var(--global-baseline-xxx);

    background-color: var(--global-color);

    border-radius: var(--global-baseline-x);

    color: var(--color-base);

    overflow: hidden;
}
.c-card__header {
    padding: var(--local-padding);
}
.c-card__body {
    background-color: var(--local-backgroundColor);

    border-radius: var(--global-baseline-x);

    box-shadow: 0 7px 12px 4px #00000047;

    padding: var(--local-padding) var(--global-baseline-xxxx);
}

/**
 * Components: Landing Page
 */
.c-landing {
    box-shadow: -3px 3px 12px 6px rgb(0,0,0) 5%;

    color: var(--color-base);

    margin: var(--global-baseline);
}

.c-title {
    color: var(--color-accent-blue);
}

/**
 * Components: Form
 */
.c-form {
    --border-color: #ccc;

    align-items: center;

    display: flex;

    flex-direction: column;
}
.c-form .c-label {
    color: #666;

    display: block;

    margin-bottom: var(--global-baseline);
}
.c-form .c-input {
    all: unset;

    background-color: var(--global-color);

    border: 1px solid var(--border-color);
    border-radius: 30px 0 0 30px;
    border-right: 0;

    padding: var(--global-baseline) var(--global-baseline-x);
}
.c-form__button--submit {
    all: unset;

    background-color: var(--color-accent-xx-lightblue);

    border: 1px solid var(--border-color);
    border-radius: 0 30px 30px 0;

    color: var(--global-color);

    cursor: pointer;

    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;

    padding: var( --global-baseline) var(--global-baseline-x);
}

/**
 * Component: Hero
 */
.c-hero {

}

.c-hero .c-card__header {
    display: grid;
}

.c-hero__progress {
    display: block;
}
.c-hero__progress::-webkit-progress-value {
    background-color: var(--color-accent-x-lightblue);
}
.c-hero__progress::-webkit-progress-bar {
    box-shadow: none;

    background-color: transparent;
}

.c-hero__image {
    margin: 0 auto;
    max-width: 100%;

    border-radius: var(--global-baseline-xxx);
}

.c-hero__short-info {
    width: 100%;
}

.c-hero__biography {

}

.c-hero__biography-section span:first-child {
    display: inline-block;

    font-weight: 600;

    min-width: 112px;
}

.c-hero__powerstats {
    display: grid;

    grid-template-rows: 50% 50%;
}
.c-hero__powerstats > div {
    margin: 0 auto;

    width: 80%;
}

.c-hero__powerstats-category span {
    display: block;

    font-weight: 600;
}

.c-button__play-pause {
    outline: none;

    border: 0;
    background: transparent;
    box-sizing: border-box;

    margin: var(--global-baseline-xx) auto 0;
    width: 0;
    height: 74px;

    transition: 100ms all ease;

    cursor: pointer;

    border-color: transparent transparent transparent #202020;
    border-style: solid;
    border-width: 37px 0 37px 60px;
}

.c-button__play-pause.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
}
.c-button__play-pause:hover {
    border-color: transparent transparent transparent #404040;
}

/**
 * Component: Footer
 */
.c-footer {
    margin: var(--global-baseline) 0 var(--global-baseline-xxx);

    text-align: center;
    width: 100%;
}

/**
 * Media
 */
@media only screen and (min-width: 960px) and (min-height: 500px) {
    .c-button__play-pause {
        position: absolute;

        top: 15px;
        right: 50px;
    }

    .c-hero .c-card__header {
        grid-template-columns: 30% auto;
    }

    .c-hero__short-info {
        margin-left: var(--global-baseline-xxx);
    }

    .c-hero__powerstats {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    .c-app {
        width: 60%;
    }
}

/**
 * Ultrawide resolutions
 */
@media only screen and (min-width: 2000px) and (min-height: 1100px) {
    .c-app {
        width: 40%;
    }
}
